.loader {
	padding: 150px;
	height: 50px;
	width: max-content;
	font-size: 50px;
	font-weight: 600;
	/* font-family: monospace; */
	letter-spacing: 1em;
	color: #17abda;
	filter: drop-shadow(0 0 10px);
	display: flex;
	/* flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center; */
}

.loader span {
	animation: loading6454 1.75s ease infinite;
}

.loader span:nth-child(2) {
	animation-delay: 0.25s;
}

.loader span:nth-child(3) {
	animation-delay: 0.5s;
}

.loader span:nth-child(4) {
	animation-delay: 0.75s;
}

.loader span:nth-child(5) {
	animation-delay: 1s;
}

.loader span:nth-child(6) {
	animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
	animation-delay: 1.5s;
}

@keyframes loading6454 {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}
