.cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.conten {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: stretch;
	justify-content: space-around;
	color: whitesmoke;
	min-height: 759px;
	background-color: #142328d5;
	padding: 20px;
}
.barPerfil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 900px;
	height: 100%;
	background-color: #142328d5;
	box-shadow: 2px 2px 25px #0d0f0fcc;
	color: whitesmoke;
}
.imgPerfil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	box-shadow: 2px 2px 25px #808c90cc;
}
.infoPerfil {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
	margin-right: 10px;
	padding: 25px;
	width: 320px;
	height: 500px;
}
.conCompra {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
	margin-right: 10px;
	padding: 25px;
	width: 50%;
}
