/* .nav:hover {
	cursor: pointer;
} */
.Paginate {
	margin-bottom: 5%;
	display: inline-flex;
	height: 1em;
	flex-wrap: wrap;
	align-content: space-between;
	flex-direction: row;
	/* cursor: pointer; */
}

.ButPaginate {
	font-size: 18px;
	color: #ffffff;
	background-color: #142328;
	border: none;
	border-radius: 9px;
	/* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); */
	padding: 5px 13px;
	margin: 10px 10px;
	box-shadow: 2px 2px 15px #142328cc;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	cursor: pointer;
}

.actual {
	color: aliceblue;
	background-color: #262626;
	transition: all 500ms;
}
