.Paginate {
	margin-bottom: 5%;
	display: inline-flex;
	height: 1em;
	flex-wrap: wrap;
	align-content: space-between;
	flex-direction: row;
}

.ButPaginate {
	font-family: 'Staatliches';
	font-size: 18px;
	color: #ffffff;
	background-color: rgb(165, 50, 50);
	border: none;
	border-radius: 2px;
	/* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); */
	padding: 4px 13px;
	margin: 10px 10px;
	box-shadow: 2px 2px 15px rgb(165, 50, 50);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.actual {
	color: aliceblue;
	background-color: #262626;
	transition: all 500ms;
}
