.cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: 600px; */
	max-width: 700px;
	/* background-color: aqua; */
}

.cads {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	/* align-content: space-around; */
	/* margin-top: 0.5em; */
	margin-block-start: 20px;
	margin-right: 50px;
}
.pag {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.conthome {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	/* justify-content: center; */
	align-content: center;
}
