.cont {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	min-height: calc(100vh - 100px);
}
.contG {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.contP {
	display: flex;
	flex-direction: column;
}
.contentP {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.producCard {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	justify-content: space-between;
	align-items: center;
	background-color: #142328;
	width: 700px;
	height: 200px;
	padding: 23px;
	border-radius: 23px;
	margin-bottom: 10px;
	/* cursor: pointer; */
	box-shadow: 2px 2px 15px #142328cc;
}
.cimg {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 200px;
	justify-items: center;
	border-radius: 23px;
}
.img {
	max-width: 140px;
	max-height: 140px;
	padding: 5px;
	margin: 1rem;
}
.nameP {
	color: white;
	font-size: 1rem;
	font-weight: bold;
	width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.name {
	color: whitesmoke;
	font-size: 1.2rem;
	font-weight: bold;
}
.precio {
	color: #17abda;
	font-size: 1.39rem;
	font-weight: bold;
}
.btn {
	margin-left: 10px;
	width: 140px;
	height: 30px;
	border-radius: 13px;
	background-color: #17abda;
	backdrop-filter: blur(4px);
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #0e7d86;
	color: whitesmoke;
}
.btnM {
	margin-left: 10px;
	width: 35px;
	height: 30px;
	border-radius: 13px;
	background-color: #17abda;
	backdrop-filter: blur(4px);
	border: none;
	cursor: pointer;
}

.btnM:hover {
	background-color: #0e7d86;
	color: whitesmoke;
}
.form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.price {
	color: whitesmoke;
	font-size: 1rem;
	font-weight: normal;
}
.contT {
	display: scroll;
	position: fixed;
	/* display: flex; */

	margin-bottom: 30px;
}

.contenedor {
	margin-bottom: 1.6rem;

	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	padding: 5px;
	/* background-color: #0e7d86; */
	width: 400px;
	min-height: calc(100vh - 1000px);
	padding-bottom: 1rem;
}
.contpago {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 300px;
	height: 300px;
	background-color: #142328;
	border-radius: 23px;
	box-shadow: 2px 2px 15px #142328cc;
	backdrop-filter: blur(4px);
}

.btnB {
	margin-left: 10px;
	width: 140px;
	height: 40px;
	border-radius: 13px;
	background-color: #17dac8;
	backdrop-filter: blur(4px);
	border: none;
	cursor: pointer;
}

.btnB:hover {
	background-color: #0e7d86;
	color: whitesmoke;
}
