body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	background-color: black;
	color: aqua;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
