.body {
	background-image: url(../../../../asset/BG.png);
	background-size: cover;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* padding: 20px; */
}

.cont {
	display: flex;
	flex-direction: row;
	background-color: #142328;
	height: 100%;
	padding: 2rem 5rem;
	/* padding-bottom: 6.12rem; */
}

.contImg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 990px;
	justify-items: center;
	border-radius: 23px;
}

.img {
	max-width: 400px;
	max-height: 490px;
	padding: 10px;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.contInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5rem;
	width: 50%;
}

.contInfoComent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #142328;
	padding: 0.5rem 5rem;
	padding-bottom: 6.12rem;
}

.conts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.name {
	font-size: 1.8rem;
	color: white;
}

.price {
	font-size: 1.95rem;
	color: #17abda;
}

.h4 {
	font-size: 1.35rem;
	color: white;
}
.h2 {
	font-size: 1.95rem;
	color: #17abda;
}

.parafo {
	font-size: 1rem;
	color: white;
	max-width: 80%;
}

.btn {
	margin-left: 10px;
	width: 200px;
	height: 35px;
	border-radius: 13px;
	background-color: #17abda;
	backdrop-filter: blur(4px);
	border: none;
}

.btn:hover {
	background-color: #0e7d86;
	color: whitesmoke;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
}
