ul{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 8%;
    justify-content: center;
    list-style: none;
    position:fixed;
}

li{
    display: flex;
    flex-direction: row;
    flex:content;
    width: 100%;
}