.conten {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	min-height: calc(100vh - 155px);
}
.h1 {
	color: #17abda;
	font-size: 2.5rem;
	font-weight: bold;
}

.h2 {
	color: #30535f;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.hr {
	width: 80%;
	border: 1px solid #17abda;
}

.conte_row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.cads {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	margin-top: 0.5em;
	margin-block-start: 20px;
	max-width: 1150px;
	min-height: 215px;
	background-color: whitesmoke;
}

.producCard {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 5px;

	justify-content: space-around;
	align-items: center;
	background-color: #142328;
	width: 290px;
	height: 135px;
	padding: 5px 0px;
	border-radius: 23px;
	/* cursor: pointer; */
	box-shadow: 2px 2px 15px #142328cc;
}
.cimg {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 105px;
	justify-items: center;
	border-radius: 23px;
}
.img {
	max-width: 90px;
	max-height: 90px;
	padding: 5px;
	margin: 0.5rem;
}
.contenT {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100px;
	/* background-color: aliceblue; */
}

.name {
	color: white;
	font-size: 1rem;
	font-weight: bold;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.text {
	color: #17abda;
	font-size: 1rem;
	font-weight: bold;
}
.link {
	text-decoration: none;
	list-style: none;
}
