.back {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
	align-content: center;
}

.segundoB {
	background-color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.background {
	background-image: url(../../asset/Landig.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divbtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-items: center;
	text-decoration: none;
	margin-top: 450px;
}

.btn {
	width: 150px;
	height: 50px;
	border-radius: 13px;
	background-color: #17abda;
	backdrop-filter: blur(4px);
	border: none;
}

.btn:hover {
	background-color: #0e7d86;
	color: whitesmoke;
}
.Link {
	margin-top: 20px;
	text-decoration: none;
}

.carrusel {
	display: flex;
	width: 100%;
	align-items: center;
}
