.back_ground {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* width: 50%; */
	min-height: calc(100vh - 163px);
	background-color: #f5f5f5;
	color: whitesmoke;
}
.contenedor {
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	min-height: 330px;
	text-align: center;

	/* padding: 0 45px;

	border-radius: 23px;
	background-color: #0f7c9d;
	box-shadow: 2px 2px 25px #0d0f0f86;
	backdrop-filter: blur(15px); */
}

.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 400px;
	background-color: #a4bbc2;
	border: none;
	border-radius: 23px;
	box-shadow: 2px 2px 15px #142328cc;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.iconos {
	color: #17abda;
	cursor: pointer;
}

.inputmaterial {
	width: 90%;
	text-decoration-color: #09576e;
}

.color1 {
	color: #17abda;
}
.color2 {
	background-color: #ac271a;
	color: #ac271a;
}
.h1 {
	color: #17abda;
	text-align: center;
}
.h3 {
	color: #09576e;
	text-align: center;
}

.table {
	background-color: #1423283b;
}

.thead {
	color: #17abda;
	background-color: #17abda;
}
.nameP {
	/* color: white; */
	width: 20px;
	white-space: wrap;
	text-overflow: clip;
	/* overflow: hidden; */
}
